<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tnc_logo_playstore"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TNCApp"
        tools:targetApi="31">
        <activity
            android:name=".AdminScreen.CommuteData.ImagePreview.AD_COMM_ImagePreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminScreen.CommuteData.ShowChosenUserInfo.ShowUserCommuteInfo"
            android:exported="false" />
        <activity
            android:name=".AdminScreen.CommuteData.ChooseUser.ShowAndChooseUser"
            android:exported="false" />
        <activity
            android:name=".AdminScreen.MainActivity_Admin"
            android:exported="false" />
        <activity
            android:name=".ContractorScreen.TrackCommute.TC_ImagePreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.uploadAllCommuteDataToFirebase"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".ContractorScreen.TrackCommute.S4_S_distanceCalculator"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCHf4KsXXQwmymVYdVlEzvp1-wjCmpIugg" />

        <activity
            android:name=".AdminScreen.CommuteData.ShowMap.googleMapsData"
            android:exported="false"
            android:label="@string/title_activity_googel_maps_data" />
        <activity
            android:name=".ContractorScreen.TrackCommute.Camera"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInScreen.SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S6_collectCorrectOdometer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S5_mileageConfirmation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S4_timeAndDistanceTravelled"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S3_captureOdometer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S2_collectVehicleTripInfo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.TrackCommute.S1_areYouDriver"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContractorScreen.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogInScreen.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>